.img
{
    opacity: 1;
    background-color: #333333;
    width: 100%;
}

#carousel-wrapper
{
    margin-left: 3%;
    display: flex;
    gap: 5%;

    height: 10rem;

    width: 90%;
    padding: 2rem 2rem 1rem 1rem;
    overflow-x: scroll;
}


/* width */
::-webkit-scrollbar {
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #C4C4C4;
}