#content 
{
    margin-left: 18rem;
    font-family: Poppins;
}

.header 
{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.search 
{
    width: 967px;
    height: 63px;
    
    font-family: Poppins;
    font-weight: 500;
    font-size: 19px;
}

input::placeholder 
{
    color: rgba(51, 51, 51, .4);
}

#img
{
    width: 80px;
    height: 80px;
    margin-left: 2rem;
}

.resultsDisplay{
    position: relative;
    margin-top: 3%;

    width: 90vw;
    height: 70vh;

    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 20px;
}

.searchbarIcon
{
    width: 5%;
    height: 7%;
    margin-right: 10%;
    filter: invert(18%) sepia(0%) saturate(35%) hue-rotate(197deg) brightness(93%) contrast(90%);
}