#header-content
{
    font-family:'Poppins';
    font-weight: 700px;
    border-width:'3px';
    background-color: #0064FF;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    font-size: 25px;
    font-style: bold;
}
.pointr
{
    display: inline;
    margin: 1rem 30rem 1rem 4rem; 
}
#misc-header-content
{
    display: inline;
}
#login-button
{
    background-color: #02BA90;
    margin-right: 4rem;
    margin-top: -0.5rem;
    font-family: 'Poppins';
    font-weight: 700px;
    font-size: 20px;
    
}
.content
{
    margin-right: 3rem;
    display: inline;
    float: right;
}
h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 90px;
    color: #0064FF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;

    display: flex;

    text-align: right;

}
h2 {
    font-size: 45px;
    color: rgba(51, 51, 51, 0.8);    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    
    text-align: right;
    display:flex;
    margin: 4%;
}
#column-right {
    float: right;
    margin-right: 20px;
}


.emailentry{

    border: 4px solid rgba(51, 51, 51, 0.5);
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(51, 51, 51);
    line-height: 0;


    margin: 4%;
    letter-spacing: -0.015em;

    width: 496px;
    height: 60px;


}



body {
    height: 100vh;
    width:100vw;
    background-color: #ffffff;
}

#pictureWrapper{
    position: fixed;
}

#homePagePic{
    width: 48%;
    height: 75%;
    border-radius: 50%;
}

button#homepagebutton {
  
    background: #FFFFFF;
    border-radius: 6px;
    
    width: 13rem;
    height: 4rem;
    

    color: #0064FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
   

    display: flex;
    align-items: center;
    text-align: center;

}




.titleHeader{
    width: 100vw;
    height: 40vh;

    background: linear-gradient(86.57deg, #65D7C0 2.83%, #02BA90 39.01%, #0064FF 96.43%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;



}





#homeTitleWrapper{
    position:relative;
    top: 5%;
    left: 7%;
}

#homeSubtitleWrapper{
    position: relative;
    top: 10%;
    margin-left: 18%;

}

#homeButtonWrapper{
    position:relative;
    top: 0%;
    left: 77%;

}

#homeTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;

    letter-spacing: -0.015em;



    color: #FFFFFF;

}

#homeSubtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    text-align: right;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

#rightBoxes{
    
    
    height:50vh;
    width:100vw;
    margin-top: 10vh;
 

    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content:space-evenly;
    
}

#leftContent{
    position:fixed;

    height:50vh;
    width:50vw;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}

.infoBox{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
    
    display: flex;
    
    letter-spacing: -0.015em;

    color: #333333;

    
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    width: 230px;
    height: 230px;
    margin: auto;
 
 
}

.icon{
    width: 60%;
    height: 60%;
    border: 2px #ffffff;
}

#icon1{
    /* fill: #24887C; */
    filter: invert(43%) sepia(73%) saturate(395%) hue-rotate(123deg) brightness(89%) contrast(90%);
}

#icon2{
    filter: invert(95%) sepia(7%) saturate(1933%) hue-rotate(99deg) brightness(88%) contrast(94%);
}

#icon3{
    filter: invert(79%) sepia(5%) saturate(3300%) hue-rotate(188deg) brightness(102%) contrast(101%);
}


.infoBoxWrapperLeft{
    margin-top: 5%;
    margin-left: 2%;
}

.infoBoxWrapperRight{
    margin-top: 5%;
    margin-left: 20%;
}

#easyText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
    
    text-align: right;
    letter-spacing: -0.015em;

    color: #333333;


}

#startedText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    
    text-align: right;
    letter-spacing: -0.015em;

    color: #333333;

}

.flex-container > div{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100vw;
    height: 50vh;

}

.captionLower{
    position:relative;
    top: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
  
   text-align: center;
    color: #333333;
 
}

.captionUpper{
    position:relative;
    bottom: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;

    text-align: center;
   
    color: #333333;
   
}

.infoBoxWrapper{

    height: 40vh;
    width: 100vw;
    justify-content: center;
    
    
}

/* Gradient animation generator code adapted from https://www.gradient-animator.com/ */

.css-selector {
    width: 100vw;
    height: 40vh;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(219deg, #65d7c0, #02ba90, #0064ff);
    background-size: 600% 600%;

    -webkit-animation: titleHeader 11s ease infinite;
    -moz-animation: titleHeader 11s ease infinite;
    animation: titleHeader 11s ease infinite;
}

@-webkit-keyframes titleHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes titleHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes titleHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}