h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 90px;
    color: #0064FF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;

    display: flex;

    text-align: right;

}
h2 {
    font-size: 45px;
    color: rgba(51, 51, 51, 0.8);    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    
    text-align: right;
    display:flex;
    margin: 4%;
}
#column-right {
    float: right;
    margin-right: 20px;
}
button#homepagebutton {
    position: relative;
    background: #0064FF;
    border-radius: 6px;
    
    

    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 45px;
   

    display: flex;
    align-items: center;
    text-align: center;

    margin: 4%;
}

.emailentry{

    border: 4px solid rgba(51, 51, 51, 0.5);
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(51, 51, 51);
    line-height: 0;


    margin: 4%;
    letter-spacing: -0.015em;

    width: 496px;
    height: 60px;


}



body {
    height: 100vh;
    width:100vw;
    background-color: #ffffff;
}

#pictureWrapper{
    position: fixed;
}

#homePagePic{
    width: 48%;
    height: 75%;
    border-radius: 50%;
}

#titleHeader{
    width: 100vw;
    height: 40vh;

    background: linear-gradient(86.57deg, #65D7C0 2.83%, #02BA90 39.01%, #0064FF 96.43%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}



#homeTitleWrapper{
    position:relative;
    top: 5%;
    left: 7%;
}

#homeSubtitleWrapper{
    position: relative;
    top: 10%;
    margin-left: 50%;

}

#homeTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;

    letter-spacing: -0.015em;



    color: #FFFFFF;

}

#homeSubtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    text-align: right;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

#rightBoxes{
    margin-left:50%;
    
    height:50vh;
    width:50vw;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}

.infoBox{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
    
    display: flex;
    
    letter-spacing: -0.015em;

    color: #333333;

    background: #9BE5D6;
    border: 3px solid #02BA90;
    height: 4rem;
    width: 25rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: center;


    
}

.infoBoxWrapperLeft{
    position: relative;
    top: 5%;
    left: 2%;
}

.infoBoxWrapperRight{
    position: relative;
    top: 5%;
    left: 20%;
}

