
#fundsAmountWrapper{
    width: 16%;
    height: 10%;
    position:relative;
    margin-right: 5%;
    margin-left:80%;
    margin-top:-8%;
   text-align: right;
   justify-content: right;
  
  }
  
  #fundsAmountText{
    width: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
  
    color: #333333;
  
  }
  
  #fundsAmountNum{
    
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
  
    color: #333333;
  
  }
  
  
  