#messagingBackground{
    width: 100vw;
    height: 100vh;

    background-color: antiquewhite;
}

h1#heading{
    width: 359px;
    height: 105px;
    left: 371px;
    top: 64px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #333333;
} 

#messageDisplayBoxes{
    width: 60%;

    display: flex;
    flex-direction: row;
    column-gap: 10%;
    row-gap: 5%;
    justify-content: space-evenly;

    flex-wrap: wrap;





    /* left: 371px; */

    /*issue with width is that when you inspect page you can see that the left and right of the container is too far to the 
    left and right side. SO, the task is to get this flexbox container to have left side aligned with heading and right side 
    is the width of the screen */
    /* width: 100%; */
    /* max-width: 1280px; this num is what google says widest computer usually is */



}

button#newMessage{

    position: relative;
    width: 234px;
    height: 45px;
    left: 1102px;
    top: 101px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;

    text-transform: lowercase;
    
    color: #0064FF;
}
