h1#heading{
    position: absolute;
    width: 359px;
    height: 105px;
    left: 371px;
    top: 64px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #333333;
} 

messageDisplayBox#box1{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 736px;
    top: 219px;
}

messageDisplayBox#box2{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1102px;
    top: 219px;
}

button#newMessage{

    position: absolute;
    width: 234px;
    height: 45px;
    left: 1102px;
    top: 101px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    
    color: #0064FF;
}