.messageDisplay{
    position: relative;
    width: 15vw;
    height: 30vh;
    /* left: 40%;
    top: 25vh; */

    background: #9BE5D6;
    border: 4px solid #02BA90;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    text-align: center;
    /* align-items: center; */
    align-items: stretch;
    font-family: 'Poppins';
    color: #333333;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

}

#name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 3vw;
 
    letter-spacing: -0.015em;

}

#username{
    font-style: italic;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 1.4vw;
    letter-spacing: -0.015em;

    margin-left: 5%;
    margin-right: 5%;

}

#messageBody{
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    text-align: left;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1#heading{
    position: absolute;
    width: 359px;
    height: 105px;
    left: 371px;
    top: 64px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #333333;

    row-gap: 5%;
    column-gap: 5%;
} 
