.newMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(1px);


    display: flex;
    justify-content: center;
    align-items: center;
}

.newMessageInner {
    /* position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: aqua;
 */
    position: relative;
    width: 60%;
    height: 65%;
    left: 0%;
    top: 10%;

    background: #264653;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.newMessageInner .sendTo {
    position: relative;

    left: 5%;
    top: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vh;
    display: flex;
    /* letter-spacing: -0.015em; */
    color: #FFFFFF;

    margin-top: 2%;
    margin-bottom: 5%;

    
}
.newMessageInner .messageEntryBox {
    position: relative;
    width: 90%;
    height: 35%;
    left: 5%;
    top: 5%;

    border-radius: 20px;
    background: rgba(101, 215, 192, 0.72);

    padding: 1%;
    font-family: 'Poppins';
    color: white;
    font-size: 1.5vw;

}
.newMessageInner .tokensBox {
    position: relative;
    width: 50%;
    height: 30%;
    left: 5%;
    top: 10%;

    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    column-gap: 10%;
    row-gap: 5%;
    justify-content: space-evenly;

    flex-wrap: wrap;
    overflow-y: scroll;

    color: #FFFFFF;

}

#send{
    position: absolute;
    width: 180px;
    height: 77px;
    left: calc(50% - 180px/2 + 458px);
    top: calc(50% - 77px/2 + 256.5px);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: pink;
    background-color: aqua;
}
