.MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation0 .MuiDrawer-paper {
    background-color: #0064FF;
}


#headerWrapper{
    width: 100vw;
    height: 30vh;
}
#header {
    margin-left: 14%;
    padding-left: 4%;
    padding-top: 3%; 
    overflow: hidden;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    background-color: #65D7C0;
    width: 100vw;
}
#welcome
{
    
    display: inline;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    letter-spacing: -0.015em;

    color: #333333;
}
#sub
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    
    letter-spacing: -0.015em;

    color: #333333;
}
#content {
    margin-left: 18rem;
    font-family: Poppins;
}
image 
{
    height: 15px;
    width: 15px
}
#leaderboard
{
    font-size: 40px;
    margin: 0 0 3%;
}
.rank
{
    color: blue;
    display: inline;
    font-weight: bold;
}
.stats
{
    display: inline;
    font-size: 40px;
    margin-right: 18rem;
}

#stats-container {
    margin-top: 4%;
}

#carousel-container {
    display: inline-block;
    width: 90%;

    margin-top: 1%;

    border-radius: 25px;
    background: rgba(51, 51, 51, 0.1);

}

.trophiesLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 0;
    /* or 126% */

    width: 60%;

    letter-spacing: -0.015em;


    margin-top: 10%;
    padding: 0;

    color: #333333;
}