.MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation0 .MuiDrawer-paper {
    background-color: #0064FF;
}

#header {
    margin-left: 14rem;
    padding-left: 4rem;
    background-color: #65D7C0;
}
#welcome
{
    font-size: 70px;
    display: inline;
    font-family: Poppins;
}
#sub
{
    font-size: 25px;
    font-family: Poppins;
}
#content {
    margin-left: 18rem;
    font-family: Poppins;
}
image 
{
    height: 15px;
    width: 15px
}