
.signIn{
    border: 3px solid #c4c4c4;
    border-radius: 4px;
    width: 40%;
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 35px;
    height: 160px;
    background-color: #ffffff;
}

body {
    background:linear-gradient(to left top, blue, red); /* currently all pages have the gradient, working on fixing */
    background-attachment: fixed; /*edit*/
}

.button{
    margin-left: 22%;
    margin-bottom: 20px;
}

p{
    margin-top: 0px;
}

h1{
    margin-bottom: 1px;
}