@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* .signUp{
    position: absolute;
    
    
    width: 633px;
    height: 561.34px;
    left: 783px;
    top: 220px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #333333;


letter-spacing: -0.015em;
   
} */

.entryRectangle{
    position: absolute;
    width: 630px;
    height: 46.34px;

    border: 3px solid rgba(51, 51, 51, 0.3);
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 126% */

    letter-spacing: -0.015em;

    color: rgba(51, 51, 51, 0.5);
}


body#SU{
    background: linear-gradient(247.13deg, rgba(0, 100, 255, 0.8) 0%, rgba(101, 215, 192, 0.8) 68.23%, rgba(2, 186, 144, 0.8) 100%);
    backdrop-filter: blur(50px);
    background-attachment: fixed; 
    height: 100vh;
    width: 100vw;

} 

button#signupbutton {
    background-color:#0064FF;
    color: #ffffff;
   
    
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    position: absolute;
    width: 197px;
    height: 77px;
    left: calc(50% - 197px/2 + 301.5px);
    top: calc(50% - 77px/2 + 387.5px);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rightRectangle{
    display: inline-block;
    position:fixed; 
    top:0; 
    left:50%;
    width:50%;
    height:100%;
    background-color:#ffffff;

}

.suTitle{
    position: absolute;
    width: 621px;
    height: 45px;
    
    left: calc(50% - 621px/2 + 349.5px);
    top: calc(50% - 45px/2 - 397.5px);


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 36px;
    /* or 72% */

    letter-spacing: -0.015em;

    color: #0064FF;
}

.suSubtitle{
    position: absolute;
    width: 479px;
    height: 36px;
    left: 795px;
    top: 137px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height, or 120% */

    letter-spacing: -0.015em;

    color: rgba(51, 51, 51, 0.5);

}

.entryLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    /* or 126% */

    letter-spacing: -0.015em;

    color: #333333;
}

.containerSU{
    padding: 60px;
}